asgiref==3.8.1
bandit==1.8.3
black==25.1.0
click==8.2.1
Django==4.2.7
flake8==7.2.0
isort==6.0.1
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pbr==6.1.1
pillow==11.2.1
platformdirs==4.3.8
pycodestyle==2.13.0
pyflakes==3.3.2
Pygments==2.19.1
PyYAML==6.0.2
rich==14.0.0
setuptools==80.9.0
sqlparse==0.5.3
stevedore==5.4.1
whitenoise==6.9.0
psycopg2-binary==2.9.9
gunicorn
dj-database-url